@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300&display=swap');

#parentdiv {
    background-color: #eae4dd;
    font-family: 'Roboto Flex', sans-serif;
    margin: 0px;
    padding: 0px;
}


.div2 {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #ffafcc;
    border-radius: 50%;
    display: table-cell;
    text-align: center;
    vertical-align: bottom; 
    font-family: 'Roboto Flex', sans-serif;
}

.div2:hover:after {
    position: absolute;
    width: 80px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 10px;
    display: table-cell;
    text-align: center;
    vertical-align: middle; 
    font-family: 'Roboto Flex', sans-serif;
    content: attr(title);
    opacity: 0.4;
}

.circle {
    left: 50px;
    top: 50px;
    background-color: #494949;
    margin: 10%;
    border-radius: 10%;
    font-family: 'Roboto Flex', sans-serif;
    float: left;
}

.circle-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle; 
    border-radius: 100%;
    font-family: 'Roboto Flex', sans-serif;
    color: #101010;
    font-size: 20px;
}

.hide {
    display: none;
    font-family: 'Roboto Flex', sans-serif;
}

.hide:hover {
    display: block;
    color: black;
    font-family: 'Roboto Flex', sans-serif;
}

body {
    font-family: 'Roboto Flex', sans-serif; 
    background-color: #eae4dd;
    font-family: 'Roboto Flex', sans-serif;
}

#rcorners1 {
    border-radius: 25px;
    background: #DAD0D0;
    padding: 20px; 
    width: 200px;
    font-family: 'Roboto Flex', sans-serif;
    float: left;
    margin: 2%;
}

#rcorners2 {
    border-radius: 25px;
    /* background: #477797; */
    background: #DAD0D0;
    padding: 20px; 
    width: 200px;
    font-family: 'Roboto Flex', sans-serif;
    float: right;
    margin: 2%;
    text-align: center;
}

#name {
    font-family: 'Roboto Flex', sans-serif;
}

li {
    margin: 3%;
}

#commentName {
    text-align: right;
    font-family: 'Roboto Flex', sans-serif;
}

* {
    font-family: 'Roboto Flex', sans-serif;
}

#idChan {
    float: left;
    padding: 0%;
    color: black;
    font-weight: bold;
    width: 300;
}
#circlediv {
    margin: auto;
}

.topnav {
background-color: #333;
overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 30px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #04AA6D;
color: white;
text-align: right;
}
